body{
  background-color:#fffff0;
}
#wrapper{
  width:960px;
  background-color:white;
  margin:auto;
}

.headline{
  width: 100%;
  background-color: blue;
}

.byline{
  width: 100%;
  background-color:#70DBDB;
  
}

#links{
  width:100%;
  background-color:;
}
a{
  text-decoration:none;
}
.r2{
  float:right;
  position:relative;
  right: 5%;
}
