body{
  background-color:#fffff0;
  width: 960px;
  margin: auto;
  
}

header{
  margin: auto;
  width: 100%;
  position:relative;
  left: 5%;
}

.article{
  border: 5px;
  border-style: solid;
  border-color: red;
  width: 60%;
  height: 20%;
  margin: 10px;
  float: left;
  padding: 15px;
}
#a1{
  position:relative;
  right:5%;
}

#a2{
  margin: 10px;
  float: right;
  position: relative;
  top:70%;
  right:10%;
  border: 5px dotted #008B8B;
}


#imag2{
  position: relative;
  left: 10%;

}

ul{
  display: inline;
}

footer{
  background-color: white;
}








