
#wrapper{
  width:960px;
  background-image:url(../images/imagegallery/background.jpg);
  margin: auto;
}

#links{
  border: 2px solid #000;
  width:100%;
  text-align:center;
  font-size:26px;
  font-size:20px;
  background-color:blue;
}

.title{
  width: 100%;
  text-align: center;
  font-size: 32px;
  background-color: orange;
  }
  
  .beauty,.vlog,.gaming{
    width: 20%;
    height: 20%;
    font-size: 24px;
    border: 5px solid #000;
  }

  .beauty{
    background-color: purple;
  }
  
  .vlog{
    background-color:#66CD00;
  }
  .gaming{
    background-color:#008B8B;
  }

a{
  text-decoration: none;
  color: black;
}
