body{
  background-image:url(../images/imagegallery/background.jpg);
}
.title{
  width: 100%;
  background-color: purple;
}
.beauty, .vlog,.gaming{
border: 5px, solid, #000;
width: 20%;
height: 40px;
}

.beauty{
  background-color:#4B0082;
}

.vlog{
  background-color:#66CD00;
  
}

.gaming{
  background-color:#008B8B;
}

img{
  border: 5px, solid, #000;
  float: left;
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
}

#links{
  border: 5px, solid, #000;
  padding: 20px;
  float: left;
}
